<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>7eeebcb71845c57b27828766189da244</string>
	<key>connections</key>
	<dict>
		<key>5E3807F2-F4AF-4280-931B-D808DCB5396D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C907CAC-C8AB-468A-8188-1BF6DA932A49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>7eeebcb71845c57b27828766189da244</string>
	<key>description</key>
	<string>生成身份证号</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>生成身份证号</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>cad</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在获取生成</string>
				<key>script</key>
				<string>~/.nvm/versions/node/v8.11.0/bin/node index.js "{query}"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>idcard</string>
				<key>title</key>
				<string>随机生成身份证号</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5E3807F2-F4AF-4280-931B-D808DCB5396D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5C907CAC-C8AB-468A-8188-1BF6DA932A49</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>5C907CAC-C8AB-468A-8188-1BF6DA932A49</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>5E3807F2-F4AF-4280-931B-D808DCB5396D</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>7eeebcb71845c57b27828766189da244</string>
</dict>
</plist>
